$bungee-font: "Bungee", cursive;
$sans-pro: 'Source Sans Pro', sans-serif;
$default-white: #FFFFFF;
$body-background: #f4f1ec;
$tweet-border: #545149;
$header-background: #4056A1;
$arrow-down-color: #d31717;
$tweet-btn-color: #243260;
