@import 'variables';
@import 'mixins';

nav.nav-section{
  @include flex ($display: none, $direction:row, $content:space-between, $alignment:center);
  position: fixed;
  height: 120px;
  width: 100%;
  padding: 0 1.5em;
  background-color: $header-background;
  color: $default-white;

  span {
    font-family: $bungee-font;
  }

  section.arrow {
    @include flex;
    box-sizing: border-box;

    p {
      margin-bottom: 0.2em;
    }

    button.toggle {
      border: none;
      background-color: transparent;
      position: relative;
      top: 0;

      i.fa-solid {
        color:$arrow-down-color;
      }
    }
  }
  
}

span#tweeter-title {
  font-family: $bungee-font;
  top: 1em;
  left: 0.5em;
  position: fixed;
  color: $default-white;
  opacity: 0.5;
}

.toggle:hover {
  animation: MoveUpDown 0.7s  infinite;
}

@keyframes MoveUpDown {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
}





