@import 'variables';
@import 'mixins';

form.tweet-form {
  @include flex;

  .tweet-text {
    width: 90%;
    border:none;
    resize: none;
    outline: none;
    border-bottom: solid 5px black;
    background-color: $body-background;
    font-family: $sans-pro;
    font-size: large;
    font-weight: bold;
    color: $tweet-border;
  }

  div.btn-counter {
    margin: 0.5em 0;
    width: 90%;
    @include flex-default($content: space-between);

    .tweet-btn {
      font-family: $bungee-font;
      color: $default-white;
      background-color: $tweet-btn-color;
      font-size: smaller;
    }

    .counter {
      font-family: $sans-pro;
      font-size: larger;
      font-weight: bold;
    }
  }

}

.error{
  display: none;
  background-color: red;
  padding: 0 0.4em;

  i {
    color: $default-white;

    span {
      font-family: $sans-pro;
    }
  }
}
