@import 'variables';
@import 'mixins';

article.tweet {
  width: 90%;
  margin: auto;
  border: 3px solid $tweet-border;
  margin-top: 1em;

  p {
    border-bottom: 2px solid;
    width: 90%;
    margin: auto;
    display: flex;
    font-weight: bold;
    overflow-x: auto;
    overflow-y: hidden;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin: 1em;

    div {
      display: flex;
    }
  }

  footer {
    @include flex-default($content: space-between);
    margin: 1em;
  }

  .options {
    color: $tweet-btn-color;
  }
}

article.tweet:hover {
  box-shadow: 5px 10px #accafa;
}


.options i.fa.fa-flag:hover, .options i.fa.fa-retweet:hover, .options i.fa.fa-heart:hover {
  color: red;
}

