
 @media screen and (min-width:1024px){
  body {
    flex-direction: row;
  }

  nav.nav-section {
    display: flex;
  }

  header#main-header.header {
    margin: 7em 2em;
    width: 40%;
    padding-top: 250px;
}

  main {
    margin-top: 7em;
    width: 60%
  }
}