@media screen and (min-width: 1024px) {
  body {
    flex-direction: row;
  }
  body span#tweeter-title {
    display: none;
  }
  body nav.nav-section {
    display: flex;
  }
  body header#main-header.header {
    margin: 7em 2em;
    width: 40%;
    padding-top: 250px;
  }
  body header#main-header.header section.arrow {
    display: none;
  }
  body main {
    margin-top: 7em;
    width: 60%;
  }
}
