

nav{
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.arrow p {
  margin-bottom: 0.2em;
}

.fa-solid {
  color:#d31717;
}

nav span {
  font-family: 'Bungee', cursive;
}

